.img-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 40px;
}

.person-img {
    object-fit: contain;
    border-radius: 20px;
}

.person-img img {
    object-fit: cover;
    object-position: 50% 0;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.person-name {
    font-weight: bold;
}

@media screen and (max-width: 800px) {

    .person-name {
        font-size: 16px;
    }

    .person-role {
        font-size: 16px;
    }

    .person-img img {
        width: 150px;
        height: 150px;
    }
}