.img-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 40px;
}

.person-img {
    object-fit: contain;
    border-radius: 20px;
}

.person-img img {
    object-fit: cover;
    object-position: 50% 0;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.person-name {
    font-weight: bold;
}


.button {
    color: #FFFFFF;
    vertical-align: center;
    background-color: #4268f6;
    padding: 5px 16px;
    border-radius: 10px;
    line-height: 36px;
    width: 200px;
    height: 36px;
    text-align: center;
    transition-duration: 0.4s;
    font-size: 20px;
    margin: 0 auto;
}

.button:hover {
    background-color: #585b90;
}

.button-container {
    text-decoration: none;
}


@media screen and (max-width: 800px) {

    .person-name {
        font-size: 16px;
    }

    .person-role {
        font-size: 16px;
    }

    .person-img img {
        width: 150px;
        height: 150px;
    }
}