.donate-option-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 40px;
}

.event-container {
    flex: 1;
}

.us-container {
    flex: 1;
}

.button {
    color: #FFFFFF;
    vertical-align: center;
    background-color: #4268f6;
    padding: 5px 16px;
    border-radius: 10px;
    line-height: 36px;
    width: 200px;
    height: 36px;
    text-align: center;
    transition-duration: 0.4s;
    font-size: 20px;
    margin: 0 auto;
}

.button:hover {
    background-color: #585b90;
}

.button-container {
    text-decoration: none;
}

.question {
    text-align: left;
}